<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyrrrr.msd.backgroundlogger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MSD Background Logger"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:process="msd.main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".BackgroundService"
            android:process="msd.bg.svc"
            android:description="@string/app_name" />
    </application>

</manifest>